html, head{
    overflow: hidden;
    
}

body {
    touch-action: none;
  
}


#info{
          position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        z-index: 0;
        user-select: none;
    
    width: 100%;
    height: 100%;

     }
    
    #info img {
    width: 100%;
    height: 100%;
    object-fit: contain;
                user-select: none;
}

#button {
    object-fit: contain;
    user-select: none;
}